<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<header>
    <h1 class="Header__Logo">
        <a href="/">homepage</a>
    </h1>




    <nav class="NavLvl1" data-dropdown-root>
        <ul class="NavLvl1__List">
            <li class="NavLvl1__Item">
                <a href="#" class="NavLvl1__Link" data-dropdown-link="petit-format">Petit Format</a>
                <ul class="NavLvl2" data-dropdown-panel="petit-format">
                    <li>
                        <a href="#">Catégorie 2 15</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 11</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 17</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 54</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 16</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 42</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 2</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 16</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 27</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="NavLvl1__Item">
                <a href="#" class="NavLvl1__Link" data-dropdown-link="grand-format">Grand Format</a>
                <ul class="NavLvl2" data-dropdown-panel="grand-format">
                    <li>
                        <a href="#">Catégorie 2 5</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 75</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 28</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 41</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 18</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 1</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="NavLvl1__Item">
                <a href="#" class="NavLvl1__Link" data-dropdown-link="adhesif">Adhésif</a>
                <ul class="NavLvl2" data-dropdown-panel="adhesif">
                    <li>
                        <a href="#">Catégorie 2 2</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 3</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 5</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 26</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 77</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 3</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 10</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 12</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 9</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 21</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 40</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 69</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 6</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 25</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 68</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 10</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 56</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 57</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 79</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 22</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 45</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 52</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 76</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 80</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 11</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 47</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 62</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 23</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 24</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 34</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 66</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 72</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 13</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 50</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 61</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 20</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 44</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 14</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 13</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 6</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 19</a>
                        <ul></ul>
                    </li>

                </ul>
            </li>
            <li class="NavLvl1__Item">
                <a href="#" class="NavLvl1__Link" data-dropdown-link="calendrier">Calendrier</a>
                <ul class="NavLvl2" data-dropdown-panel="calendrier">
                    <li>
                        <a href="#">Catégorie 2 1</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 36</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 33</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 65</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 78</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 4</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 30</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 49</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 55</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 58</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 9</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 46</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 29</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 70</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 74</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 12</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 8</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 19</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 48</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 53</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 73</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 17</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 15</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 32</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 20</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 14</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 38</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 67</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 71</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="NavLvl1__Item">
                <a href="#" class="NavLvl1__Link" data-dropdown-link="rollup">Rollup</a>
                <ul class="NavLvl2" data-dropdown-panel="rollup">
                    <li>
                        <a href="#">Catégorie 2 7</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 59</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 51</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 4</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 7</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 31</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 37</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 39</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 43</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 60</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Catégorie 2 8</a>
                        <ul>
                            <li>
                                <a href="#">Catégorie 3 18</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 35</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 63</a>
                            </li>
                            <li>
                                <a href="#">Catégorie 3 64</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>
